<!-- templates/tienda/lista_productos.html -->
{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <a href="{% url 'detalle_producto' producto.id %}">{{ producto.nombre }}</a> - Precio: ${{ producto.precio }}
                <a href="{% url 'agregar_al_carrito' producto.id %}">Agregar al carrito</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'ver_carrito' %}">Ver Carrito</a>
 {% endblock %}
