<!-- templates/tienda/ver_carrito.html -->
{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Carrito de Compras</h1>
    <ul>
        {% for item in carrito.items.all %}
            <li>{{ item.producto.nombre }} - Cantidad: {{ item.cantidad }}</li>
        {% empty %}
            <li>No hay productos en el carrito</li>
        {% endfor %}
    </ul>
    <p>Total de Productos: {{ carrito.total_items }}</p>
    <p>Total a Pagar: ${{ carrito.total_carrito }}</p>
    <a href="{% url 'lista_productos' %}">Ver listaproductos</a>
{% endblock %}
